<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>The Tech Blog</title>
  </head>

  <body class="main-container">
    <nav class="navbar">
      <div class="navbar-selections-container">
        <a class="nav-title" href='/'>The Tech Blog</a>
        <div id='navbarNav'>
          <ul class="nav-list">
            <li>
              <a class="nav-item" href='/'>Home</a>
            </li>
            <li>
              <a class="nav-item" href='/dashboard'>Dashboard</a>
            </li>
            {{#if logged_in}}
              <li>
                <a class="nav-item" href='#' id='logout'>Logout</a>
              </li>
            {{else}}
              <li>
                <a class="nav-item" href='/login'>Login</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    <header class="page-header">
      {{#if dashboard}}
        <h1><a class="header-title" href='/dashboard'>Your Dashboard</a></h1>
      {{else}}
        <h1><a class="header-title" href='/'>The Tech Blog</a></h1>
      {{/if}}
    </header>

    <main class="body-container">
      {{{body}}}
    </main>

    {{#if dashboard}}
      <footer class="footer">
        <a href='/dashboard/new'>➕ New Post</a>
      </footer>
    {{/if}}

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>
