<div class="login-container">
  <div class="login-header">
    <h2>Login</h2>
  </div>
  <form class="login-form" id="login-form">
    <div class="login-line">
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div class="login-line">
      <label for="password-input-login">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button class="login-btn" type="submit" id="login-btn">Login!</button>
    <a class="signup-link" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>
