<div class="login-container">
  <div class="login-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form class="sign-form" id="signup-form">
      <div class="login-line">
        <label for="username-input-signup">Username</label>
        <input type="text" id="username-input-signup"/>
      </div>
      <div class="login-line">
        <label for="password-input-signup">Password</label>
        <input type="password" id="password-input-signup"/>
      </div>
      <button class="login-btn" type="submit" id="signup-btn">Sign up!</button>
      <a class="signup-link" href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>
